{% extends 'base.html.twig' %}

{% block title %}ShopFinder{% endblock %}

{% block stylesheets %}
    <link href="{{asset("bootstrap.min.css")}}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: center; position: relative; top: 14rem; "> 
        <form action="{{path("fetch")}}" method="GET" class="form-inline">
            <input type="text" class="form-control"/>   
            <button type="submit" class="btn btn-outline-success">Find</butoon>  
        </form>
    </div>
{% endblock %}
